.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid red;
  margin-bottom: 1rem;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
